html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.header{
    background: rgb(27,26,23);
    background: linear-gradient(180deg, rgba(27,26,23,1) 97%, rgba(255,255,255,1) 100%);
}
.cambio:hover{
    background-color: rgb(230, 213, 184);
}
.header__ingresar a:hover{
    background-color: rgb(230, 213, 184);
}

.header__nombre{
    color: rgb(240, 165, 0);
    font-size: 4rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
.header__logo{
    width: 65%;
    height: 70%;
}
.header__ingresar a{
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 2rem;
    background-color: rgb(240, 165, 0);
    padding: 0.5rem;
    font-family: 'Thin 100', sans-serif;
    font-weight: 'black 900';
    margin: 1rem;
}
.header__busqueda button{
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(240, 165, 0);
    padding: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}
.header__busqueda input{
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(240, 165, 0);
    padding: 0.1rem;
    margin: 0.1rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}
ul li:hover ul {
    display:block;
}
header nav ul li {
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center; 
    font-size: 2rem; 
    background-color: rgb(240, 165, 0);
    margin: 2rem;
}

h2{
    color: rgb(228, 88, 38);
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: ' Regular 400'
}    
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor__texto{
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}

.categorias a div h3{
    border: 0.3rem inset rgb(228, 88, 38);
    font-size: 2rem; 
    background-color: rgb(240, 165, 0); 
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}
.categorias div a div img{
    height: 55rem;
    max-width: 55rem;
}
.categorias__seccion a h3{
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 2rem; 
    background-color: rgb(240, 165, 0);
    display: inline-blocks;
    font-family: 'Thin 100', sans-serif;
    font-weight: 'black 900'
}
footer {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(228,88,38,1) 14%);

}

footer a{
    border: 0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 2rem; 
    background-color: rgb(240, 165, 0);
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}

.modelo__lista li{
    display: inline-block;
    border:0.3rem inset rgb(228, 88, 38);
    font-size: 1.5rem;
    background-color: rgb(240, 165, 0);
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    width: 22rem;
    padding: 0.5rem;
}
.seccion__frenos{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.seccion_motores{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.seccion_suspension{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.stock{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
 
}
.datos__ingreso{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.datos__ingreso input{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.datos__ingreso button{
    border:0.3rem inset rgb(228, 88, 38);
    text-align: center;
    font-size: 2rem;
    background-color: rgb(240, 165, 0);
    padding: 0.5rem;
    font-family: 'Thin 100', sans-serif;
    font-weight: 'black 900'
}
.mensaje{
    width: 60%;
    height: 30rem;
}
.volver a{
    color: rgb(27, 26, 23);
    font-size: 2rem;  
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.header__lista li {
    border:0.3rem inset rgb(228, 88, 38);
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(240, 165, 0);
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    width: 10rem;
    padding: 0.5rem;
}
.botton{
    border:0.3rem inset rgb(228, 88, 38);
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(240, 165, 0);
    width: 10rem;
    padding: 0.5rem;

}
#grilla{
    display: grid;
    grid-template-areas:
        "nombre ingresar"
        "logo nav";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr ;
}
.header__logo {
    grid-area: logo;
 }
.header__nombre {
    grid-area: nombre;
 }
.header__ingresar {
    grid-area: ingresar; 
    justify-self: end;  
    align-self: end;   
 }
.header__nav {
    grid-area: nav; 
    align-self: end;    
 }
.header nav {
    display: flex;
    justify-content: end;
}
.header__ingresar{
    display: flex;
    
} 
.grilla2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pie__pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.modelo__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#grilla1b{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__logo2{
    height: auto;
    max-width: 20%;
}
/*----bootstrap-----*/
.nav2 , .container-fluid{
    background-color: rgb(27, 26, 23);
}

/*----efectos----*/
.contenedor:hover{
    transform: scale(1.2);
    transition: 1s;
}
.a:hover{
    background-color: aliceblue;
}


/* ------mobile------ */

@media screen and (max-width: 768px){
   .header__nombre{
        grid-area: nombre;
    }
    .header__logo {
        display: none;
        grid-area: logo;
     }
    .header__ingresar {
        grid-area: ingresar; 
        justify-self: end;  
        align-self: end; 
     }
    .header__nav {
        grid-area: nav; 
        align-self: end;    
     }
    .header nav {
        display: flex;
        justify-content: end;
    }
    .grilla2{
        flex-direction: column;
        justify-content: space-around;
    }
    .grilla2 a div img{
        height: auto;
        max-width: 100%;
    }
    .pie__pagina{
        flex-direction: column;
    }
    .modelo__lista{
        flex-direction: column;
        justify-content: center;
    }
    .datos__ingreso{
        display: flex;
        flex-direction: column;
    }
    .categorias div a div img{
        height: auto;
        max-width: 80%;
    }
}
