.seccion__frenos{
    @extend %botonesCategoria
}
.seccions_motores{
    @extend %botonesCategoria
}
.seccion_suspension{
    @extend %botonesCategoria
}
.header__lista{
    li{
        @extend %botones;
        width: 10rem;
        padding: 0.5rem; 
    }
}
.datos__ingreso{
    button{
        @extend %botones;
        width: 10rem;
        padding: 0.5rem;  
    }
}
.botton{
        @extend %botones;
        width: 10rem;
        padding: 0.5rem; 
}

.volver{
    a{
        @include volver();
    }
}
.categorias__seccion{
    a{
        h3{
            @include seccionVenta();
        }
    }
}
.categorias {
    a {
        div {
            h3{
                @extend %botones;
                width: 10rem;

            }
        }
    }
}
.categorias {
     div {
        a {
            div{ 
               img{
                    height: 55rem;
                    max-width: 55rem;
                }
            }
        }
    }
}
h2{
    color: nth($colores, 3);
    font-size: 3rem;
    margin: map-get($size , tamMargen ) ;
    font-family: 'Oswald', sans-serif;
    font-weight: ' Regular 400';
} 
.guiafoto{
    margin: 1rem;
}
//--imagen con texto--//
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
} 
.contenedor__texto{
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
}
.stock{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
 
}
//--pagina ingreso--//

.datos__ingreso{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.datos__ingreso input{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    padding: 0.5rem;
}
.mensaje{
    width: 60%;
    height: 30rem;
}
.datoIngreso{
    margin: map-get($size , tamMargen );
    
}
.textguia{
    font-size: 1.5rem;
    font-family: 'lato', sans-serif;
    font-weight: 'Thin 100';
    background-color: nth($colores, 2);
    border-radius: 0.5rem;
    
}
